{% extends "base.html.twig" %}
{% block body %}
    <div class="row">
        <div class="col">
            <h3>Adding new product</h3>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
