{% extends "base.html.twig" %}
{% block body%}
    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-primary float-right" href="{{ path('product.add') }}" role="button">{{ "Add"|trans }}</a>
    {% endif %}
    <table class="table table-striped">
        <thead>
        <tr>
            {# sorting of properties based on query components #}
            <th>{{ knp_pagination_sortable(pagination, 'Id', 'p.id') }}</th>
            <th{% if pagination.isSorted('p.Name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Name', 'p.name') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Description', ['p.description']) }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Price', ['p.price']) }}</th>
        </tr>
        </thead>

        <tbody>
        {% for product in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price|localizedcurrency(currency) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
